body{
    background-color:#f8f9fa;
}


h1{
    color:#0A1931;
    margin-bottom:20px;
}

.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.dark-mode{
    background-color:#212529;
    color:white;
}

.dark-mode .card{
    background-color:#343a40;
    color:white;
}

.dark-mode footer{
    background-color:black !important;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode p{
    color:white;
}